@import '../../../../scss/main.scss';

.tlnds-collection {
    display: flex;
    flex-wrap: wrap;
    margin: $spacing * -2;
}

.tlnds-collection__item {
    .tlnds-collection--list>&:not(:last-child) {
        margin-bottom: $spacing;
    }

    .tlnds-collection--one-fourth>& {
        @include media(0, $range-hand-m) {
            margin: $spacing $spacing * 2;
            width: calc(100% - #{$spacing * 4});
        }

        @include media($range-hand-l, $range-lap-m) {
            margin: $spacing * 2;
            width: calc(50% - #{$spacing * 4});
        }

        @include media($range-lap-l, false) {
            margin: $spacing * 2;
            width: calc(25% - #{$spacing * 4});
        }
    }

    .tlnds-collection--one-third>& {
        @include media(0, $range-hand-s) {
            margin: $spacing $spacing * 2;
            width: calc(100% - #{$spacing * 4});
        }

        @include media($range-hand-m, $range-lap-m) {
            margin: $spacing $spacing * 2;
            width: calc(50% - #{$spacing * 4});
        }

        @include media($range-lap-l, false) {
            margin: $spacing * 2;
            width: calc(33.33% - #{$spacing * 4});
        }
    }

    .tlnds-collection--one-half>& {
        @include media(0, $range-hand-s) {
            margin: $spacing $spacing * 2;
            width: calc(100% - #{$spacing * 4});
        }

        @include media($range-hand-m, false) {
            margin: $spacing * 2;
            width: calc(50% - #{$spacing * 4});
        }
    }
}