$box-shadow-90: 0px 0px $spacing * 2 $color-ui-70;
$box-shadow-100: 0px 0px $spacing * 2 $color-ui-80;
$box-shadow-200: 0px 0px $spacing * 2 $color-ui-90;
$box-shadow-300: 0px 0px $spacing * 2 $color-ui-100;
$box-shadow-400: 0px 0px $spacing * 2 $color-ui-200;
