@import '../../scss/main.scss';

$skeleton-background-color: $color-ui-70 !default;

@keyframes pulsate {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: .5;
    }
}

.skeleton {
    display: inline-block;
    background-color: $skeleton-background-color;
    border-radius: $border-radius-70;
    animation: pulsate .75s ease-out;
    animation-iteration-count: infinite;
    opacity: .5;
}

.skeleton--text {
    width: 75%;
    height: $spacing * 1.5;
}

.skeleton--figure {
    width: 100%;
    height: 100%;
}

.skeleton--full-width {
    width: 100%;
}

.skeleton--full-height {
    height: 100%;
}
