@import '../../../../scss/main.scss';

$tlnds-rating-star-color: $color-ui-100 !default;
$tlnds-rating-star-ticked-color: $color-tertiary !default;

.tlnds-rating {
    display: flex;
}

.tlnds-rating__star {
    position: relative;
    display: block;
    margin-right: $spacing * 2;
    color: $tlnds-rating-star-color;

    &::after {
        position: absolute;
        content: '\2605';
    }
}

.tlnds-rating__star--ticked {
    color: $tlnds-rating-star-ticked-color;
}
