// General reset

html,
body {
    margin: 0;
    padding: 0;
    font: 13px/1.4em $font-family-sans-serif;
}

body {
  background-color: $color-ui;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

// Focus/outline reset

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

a {
  color: initial;
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	box-shadow: 0px 0px $spacing $color-green;
}

a:focus,
button:focus {
	&:active,
	&:hover {
		box-shadow: none;
	}
}

::-moz-selection {
	background-color: $color-green;
}

::selection {
	background-color: $color-green;
}
