// Descriptive colors (do not use directly)
$color-black: rgb(0, 0, 0) !default;
$color-grey: rgb(236, 236, 236)!default;
$color-dark-grey: rgb(170, 170, 170) !default;
$color-green: rgb(82, 174, 50) !default; // Van Dijk green
$color-purple: rgb(103, 36, 131) !default; // Van Dijk purple
$color-yellow: rgb(255, 194, 0) !default;
$color-red: rgb(200, 0, 0) !default;
$color-blue: rgb(0, 60, 150) !default;
$color-white: rgb(255, 255, 255) !default;

// Functional colors
// -- Hierarchical colors
$color-primary: $color-purple !default;
$color-secondary: $color-green !default;
$color-tertiary: $color-yellow !default;
$color-quartiary: $color-grey !default;

// -- Typography colors
$color-heading: $color-black !default;
$color-text: $color-black !default;
$color-text-grey: $color-dark-grey !default;
$color-text-light: $color-white !default;

// -- State colors
$color-info: $color-blue !default;
$color-error: $color-red !default;
$color-success: $color-green !default;
$color-warning: $color-yellow !default;
$color-select: $color-green !default;
$color-focus: $color-green !default;

// -- Additional colors
$color-ui: $color-grey !default;
$color-ui-70: darken($color-ui, 10%) !default;
$color-ui-80: darken($color-ui, 5%) !default;
$color-ui-90: darken($color-ui, 2.5%) !default;
$color-ui-100: $color-ui !default;
$color-ui-200: lighten($color-ui, 2.5%) !default;
$color-ui-300: lighten($color-ui, 5%) !default;

$color-ui-dark: $color-black !default;
$color-ui-light: $color-white !default;
$color-border: $color-dark-grey !default;

$color-info-100: $color-info !default;
$color-info-200: lighten($color-info, 60%) !default;

$color-success-90: darken($color-success, 12.5%) !default;
$color-success-100: $color-success !default;
$color-success-200: lighten($color-success, 50%) !default;

$color-warning-90: darken($color-warning, 15%) !default;
$color-warning-100: $color-warning !default;
$color-warning-200: lighten($color-warning, 40%) !default;

$color-error-100: $color-error !default;
$color-error-180: lighten($color-error, 55%) !default;
$color-error-200: lighten($color-error, 60%) !default;
